<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<style>
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.header {
	color: Orange;
	padding-left: 10px;
}

.header2 {
	color: white;
	background-color: orange;
	height: 20px;
	padding-left: 10px;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
}

td.border-1 {
	padding: 8px;
	text-align: left;
	border: 1px solid black;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav li {
	float: left;
	padding: 8px;
	margin-bottom: 7px;
	margin-right: 5px;
	background-color: darkorange;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-size: 14px;
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav li:hover {
	background-color: orange;
}

p {
	padding-left: 10px;
}

td.center {
	text-align: center;
}

.container {
	border-radius: 5px;
	padding: 10px;
}

.col-50 {
	float: left;
	width: 50%;
	margin-top: 6px;
}

.col-51 {
	float: left;
	width: 50%;
	margin-top: 6px;
}

th.headertable {
	border-bottom: 1px solid black;
}

td.boxed {
	border: 1px solid black;
}
table.tabungan{
	display:none;
}

.col-100 {
	float: left;
	width: 100%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout  */
@media only screen and (max-width: 600px) {
	.col-50, .col-51 {
		width: 100%;
		margin-top: 0;
	}
	.col-100 {
		margin-top: 0;
	}
}
</style>
</head>
<body>
	<div class="header">
		<p> <img src="https://mprospera.btpnsyariah.com/mprospera/img/logo.png" alt="logo.png" style="float:right;"/></p>
		<h2>Persetujuan Pembiayaan</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-50">
				<table>
					<tr>
						<td><b>Nama CO/SCO</b></td>
						<td th:text="${namaSco}">${namaSco}</td>
					</tr>
					<tr>
						<td><b>Kode / Nama MMS</b></td>
						<td th:inline="text">[[${kodeMms}]] / [[${namaMms}]]</td>
					</tr>
				</table>
			</div>
			<div class="col-51">
				<table>
					<tr>
						<td><b>Nama Nasabah</b></td>
						<td th:text="${namaNasabah}">${namaNasabah}</td>
					</tr>
					<tr>
						<td><b>Bergabung selama</b></td>
						<td><th:block
								th:text="${kategoriNasabah == '1'} ? '0' : ${tahunKe}">x</th:block>
							tahun</td>
					</tr>
				</table>
			</div>

		</div>

		<div class="row">
			<div class="col-100">
				<div class="header2">
					<h3>Pengajuan Pembiayaan</h3>
				</div>
				<table>
					<tr>
						<td><b>Produk</b></td>
						<td th:text="${produk}">${produk}</td>
					</tr>
					<tr>
						<td><b>Plafon</b></td>
						<td th:inline="text">[[${plafon}]]</td>
					</tr>
					<tr>
						<td><b>Tenor</b> (bulan)</td>
						<td th:text="${tenor}">${tenor}</td>
					</tr>
					<tr>
						<td><b>Angsuran</b></td>
						<td th:inline="text">[[${angsuran}]]</td>
					</tr>
					<tr>
						<td><b>Angsuran Total (Aktif)</b></td>
						<td th:inline="text">[[${angsuranTotal}]]</td>
					</tr>
					<tr>
						<td><b>Margin</b></td>
						<td th:inline="text">[[${margin}]] %</td>
					</tr>
					<tr>
						<td><b>Tanggal Cair</b></td>
						<td th:text="${tglCair}">${tglCair}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<div class="header2">
					<h3>Limit Pembiayaan</h3>
				</div>
				<table>
					<tr>
						<td><b>Limit Pembiayaan total</b></td>
						<td th:inline="text">[[${limitPembiayaanTotal}]]</td>
					</tr>
					<tr>
						<td><b>Limit Terpakai</b></td>
						<td th:inline="text">[[${limitTerpakai}]]</td>
					</tr>
					<tr>
						<td><b>Limit yang Tersisa</b></td>
						<td th:inline="text">[[${limitTersisa}]]</td>
					</tr>
				</table>
			</div>
			<div class="col-51">
				<div class="header2">
					<h3>Rasio</h3>
				</div>
				<table>
					<tr>
						<td><b>Total plafon aktif terhadap omset<br /> (tahun)
						</b></td>
						<td th:inline="text">[[${totalPlafonAktif}]] %</td>
					</tr>
					<tr>
						<td><b>Total saldo tabungan terhadap OS<br /> (sisa
								pembayaran)
						</b></td>
						<td th:inline="text">[[${totalSaldoTabungan}]] %</td>
					</tr>
				</table>
			</div>
		</div>

		<th:block th:unless="${kategoriNasabah == '1'}">
			<div class="row">
				<div class="col-100">
					<div class="header2">
						<h3>Riwayat Pembiayaan</h3>
					</div>
					<p>
						<i>Pembiayaan Utama</i>
					</p>

					<table>
						<tr>
							<td></td>
							<td class="center">(x)</td>
						</tr>
						<tr>
							<td></td>
							<td><b>Pembiayaan Terakhir</b></td>
						</tr>
						<tr>
							<td><b>Produk</b></td>
							<td th:text="${biayaAkhir.produk} ?:'0'">${biayaAkhir.produk}</td>
						</tr>
						<tr>
							<td><b>Plafon</b></td>
							<td><th:block th:text="${biayaAkhir.plafon} ?:'0'">${biayaAkhir.plafon}</th:block></td>
						</tr>
						<tr>
							<td><b>Outstanding</b></td>
							<td th:text="${biayaAkhir.outstanding} ?: '0'">${biayaAkhir.outstanding}</td>
						</tr>
						<tr>
							<td><b>Angsuran</b></td>
							<td><th:block th:text="${biayaAkhir.angsuran} ?: '0'">${biayaAkhir.angsuran}</th:block></td>
						</tr>
						<tr>
							<td><b>Tenor</b> (Bulan)</td>
							<td th:text="${biayaAkhir.tenor} ?: '0'">${biayaAkhir.tenor}</td>
						</tr>
						<tr>
							<td><b>Grade</b></td>
							<td th:text="${biayaAkhir.grade}?: '0'">${biayaAkhir.grade}</td>
						</tr>
						<tr>
							<td><b>DPD</b></td>
							<td th:text="${biayaAkhir.dpd} ?: '0'">${biayaAkhir.dpd}</td>
						</tr>
						<tr>
							<td><b>Status pembiayaan</b></td>
							<td th:text="${biayaAkhir.status} ?: '0'">${biayaAkhir.status}</td>
						</tr>
					</table>
					<br />

					<table>
						<tr>
							<td></td>
							<td class="center">(y)</td>
						</tr>
						<tr>
							<td></td>
							<td><b>Pembiayaan Sebelum Akhir</b></td>
						</tr>
						<tr>
							<td><b>Produk</b></td>
							<td th:text="${biayaSblmAkhir.produk} ?:'0'">${biayaSblmAkhir.produk}</td>
						</tr>
						<tr>
							<td><b>Plafon</b></td>
							<td><th:block th:text="${biayaSblmAkhir.plafon} ?:'0'">${biayaSblmAkhir.plafon}</th:block></td>
						</tr>
						<tr>
							<td><b>Outstanding</b></td>
							<td th:text="${biayaSblmAkhir.outstanding} ?: '0'">${biayaSblmAkhir.outstanding}</td>
						</tr>
						<tr>
							<td><b>Angsuran</b></td>
							<td><th:block
									th:text="${biayaSblmAkhir.angsuran} ?: '0'">${biayaSblmAkhir.angsuran}</th:block></td>
						</tr>
						<tr>
							<td><b>Tenor</b> (Bulan)</td>
							<td th:text="${biayaSblmAkhir.tenor} ?: '0'">${biayaSblmAkhir.tenor}</td>
						</tr>
						<tr>
							<td><b>Grade</b></td>
							<td th:text="${biayaSblmAkhir.grade} ?: '0'">${biayaSblmAkhir.grade}</td>
						</tr>
						<tr>
							<td><b>DPD</b></td>
							<td th:text="${biayaSblmAkhir.dpd} ?: '0'">${biayaSblmAkhir.dpd}</td>
						</tr>
						<tr>
							<td><b>Status pembiayaan</b></td>
							<td th:text="${biayaSblmAkhir.status} ?: '0'">${biayaSblmAkhir.status}</td>
						</tr>
					</table>

					<br />
					<table>
						<tr>
							<td></td>
							<td class="center">(z)</td>
						</tr>
						<tr>
							<td></td>
							<td><b>Pembiayaan Sebelum Y</b></td>
						</tr>
						<tr>
							<td><b>Produk</b></td>
							<td th:text="${biayaSebelumY.produk} ?:'0'">${biayaSebelumY.produk}</td>
						</tr>
						<tr>
							<td><b>Plafon</b></td>
							<td><th:block th:text="${biayaSebelumY.plafon} ?: '0'">${biayaSebelumY.plafon}</th:block></td>
						</tr>
						<tr>
							<td><b>Outstanding</b></td>
							<td th:text="${biayaSebelumY.outstanding} ?: '0'">${biayaSebelumY.outstanding}</td>
						</tr>
						<tr>
							<td><b>Angsuran</b></td>
							<td><th:block th:text="${biayaSebelumY.angsuran} ?: '0'">${biayaSebelumY.angsuran}</th:block></td>
						</tr>
						<tr>
							<td><b>Tenor</b> (Bulan)</td>
							<td th:text="${biayaSebelumY.tenor} ?:'0'">${biayaSebelumY.tenor}</td>
						</tr>
						<tr>
							<td><b>Grade</b></td>
							<td th:text="${biayaSebelumY.grade} ?: '0'">${biayaSebelumY.grade}</td>
						</tr>
						<tr>
							<td><b>DPD</b></td>
							<td th:text="${biayaSebelumY.dpd} ?: '0'">${biayaSebelumY.dpd}</td>
						</tr>
						<tr>
							<td><b>Status pembiayaan</b></td>
							<td th:text="${biayaSebelumY.status} ?: '0'">${biayaSebelumY.status}</td>
						</tr>
					</table>
					<hr />
					<p>
						<i>Pembiayaan Tambahan</i>
					</p>
					<table>
						<tr>
							<td></td>
							<td><b>Pembiayaan Top Up</b></td>
						</tr>
						<tr>
							<td><b>Produk</b></td>
							<td th:text="${biayaTopup.produk} ?: '0'">${biayaTopup.produk}</td>
						</tr>
						<tr>
							<td><b>Plafon</b></td>
							<td><th:block th:text="${biayaTopup.plafon} ?: '0'">${biayaTopup.plafon}</th:block></td>
						</tr>
						<tr>
							<td><b>Outstanding</b></td>
							<td th:text="${biayaTopup.outstanding} ?: '0'">${biayaTopup.outstanding}</td>
						</tr>
						<tr>
							<td><b>Angsuran</b></td>
							<td><th:block th:text="${biayaTopup.angsuran} ?: '0'">${biayaTopup.angsuran}</th:block></td>
						</tr>
						<tr>
							<td><b>Tenor</b> (Bulan)</td>
							<td th:text="${biayaTopup.tenor} ?: '0'">${biayaTopup.tenor}</td>
						</tr>
						<tr>
							<td><b>Grade</b></td>
							<td th:text="${biayaTopup.grade}?: '0'">${biayaTopup.grade}</td>
						</tr>
						<tr>
							<td><b>DPD</b></td>
							<td th:text="${biayaTopup.dpd} ?: '0'">${biayaTopup.dpd}</td>
						</tr>
						<tr>
							<td><b>Status pembiayaan</b></td>
							<td th:text="${biayaTopup.status} ?: '0'">${biayaTopup.status}</td>
						</tr>
					</table>
					<br />
					<table>
						<tr>
							<td></td>
							<td><b>Pembiayaan Konsumtif</b></td>
						</tr>
						<tr>
							<td><b>Produk</b></td>
							<td th:text="${biayaKonsumtif.produk} ?: '0'">${biayaKonsumtif.produk}</td>
						</tr>
						<tr>
							<td><b>Plafon</b></td>
							<td><th:block th:text="${biayaKonsumtif.plafon} ?: '0'">${biayaKonsumtif.plafon}</th:block></td>
						</tr>
						<tr>
							<td><b>Outstanding</b></td>
							<td th:text="${biayaKonsumtif.outstanding} ?: '0'">${biayaKonsumtif.outstanding}</td>
						</tr>
						<tr>
							<td><b>Angsuran</b></td>
							<td><th:block
									th:text="${biayaKonsumtif.angsuran} ?: '0'">${biayaKonsumtif.angsuran}</th:block></td>
						</tr>
						<tr>
							<td><b>Tenor</b> (Bulan)</td>
							<td th:text="${biayaKonsumtif.tenor} ?: '0'">${biayaKonsumtif.tenor}</td>
						</tr>
						<tr>
							<td><b>Grade</b></td>
							<td th:text="${biayaKonsumtif.grade} ?: '0'">${biayaKonsumtif.grade}</td>
						</tr>
						<tr>
							<td><b>DPD</b></td>
							<td th:text="${biayaKonsumtif.dpd} ?: '0'">${biayaKonsumtif.dpd}</td>
						</tr>
						<tr>
							<td><b>Status pembiayaan</b></td>
							<td th:text="${biayaKonsumtif.status} ?: '0'">${biayaKonsumtif.status}</td>
						</tr>
					</table>
				</div>
			</div>

		</th:block>
		<th:block th:unless="${kategoriNasabah == '1'}">
			<div class="row">
				<div class="col-100">
					<div class="header2">
						<h3>Riwayat Tabungan</h3>
					</div>
					<br />
					<table class="tabungan">
						<tr>
							<th class="headertable">Saldo Tabungan</th>
							<th colspan="2" class="headertable">Frekwensi Transaksi
								Tabungan</th>
						</tr>
						<tr>
							<td><b>Saat ini</b></td>
							<td><b>Setor</b></td>
							<td><b>Tarik</b></td>
						</tr>
						<tr>
							<td class="boxed" th:text="${saldoTabungan.saatIni} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.setorSaatIni} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.tarikSaatIni} ?: '0'">0</td>
						</tr>
						<tr>
							<td><b>Akhir bulan lalu</b></td>
							<td><b>Setor</b></td>
							<td><b>Tarik</b></td>
						</tr>
						<tr>
							<td class="boxed"
								th:text="${saldoTabungan.akhirBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.setorBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.tarikBulanLalu} ?: '0'">0</td>
						</tr>
						<tr>
							<td><b>Akhir 2 bulan lalu</b></td>
							<td><b>Setor</b></td>
							<td><b>Tarik</b></td>
						</tr>
						<tr>
							<td class="boxed"
								th:text="${saldoTabungan.akhirDuaBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.setorDuaBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.tarikDuaBulanLalu} ?: '0'">0</td>
						</tr>
						<tr>
							<td><b>Akhir 3 bulan lalu</b></td>
							<td><b>Setor</b></td>
							<td><b>Tarik</b></td>
						</tr>
						<tr>
							<td class="boxed"
								th:text="${saldoTabungan.akhirTigaBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.setorTigaBulanLalu} ?: '0'">0</td>
							<td class="boxed" th:text="${frek.tarikTigaBulanLalu} ?: '0'">0</td>
						</tr>
					</table>
				</div>
			</div>
		</th:block>

		<div class="row">
			<div class="col-50">
				<div class="header2">
					<h3>Profil Usaha</h3>
				</div>
				<table>
					<tr>
						<td><b>Jenis Usaha</b></td>
						<td th:text="${jenisUsaha}">${jenisUsaha}</td>
					</tr>
					<tr>
						<td><b>Deskripsi Usaha</b></td>
						<td th:text="${deskripsiUsaha}">${deskripsiUsaha}</td>
					</tr>
					<tr>
						<td><b>Waktu Operasional</b></td>
						<td th:inline="text">[[${waktuOperasional}]] Hari</td>
					</tr>
					<tr>
						<td><b>Status tempat usaha</b></td>
						<td th:text="${statusTempatUsaha}">${statusTempatUsaha}</td>
					</tr>
					<tr>
						<td><b>Lama usaha</b></td>
						<td th:inline="text">[[${lamaUsaha}]] Bulan</td>
					</tr>
				</table>
				<p>
					<b>Apakah data pendapatan sebelum nya sama ? <th:block
							th:text="${incomeDataIsSame} ? 'Ya':'Tidak'">Ya/Tidak</th:block></b>
				</p>
				<th:block th:unless="${incomeDataIsSame}">
					<p>
						<b>Jika tidak berapa persentasi</b>
					</p>
					<table>
						<tr>
							<td><b>Kenaikan</b></td>
							<td th:inline="text">[[${kenaikanPendapatan}]] %</td>
						</tr>
						<tr>
							<td><b>Penurunan</b></td>
							<td th:inline="text">[[${penurunanPendapatan}]] %</td>
						</tr>
					</table>
				</th:block>
			</div>
			<div class="col-51">
				<div class="header2">
					<h3>Perhitungan Pendapatan</h3>
				</div>
				<table>
					<tr>
						<td><b>Pendapatan Penjualan</b></td>
						<td th:inline="text">[[${pendapatanPenjualan}]]</td>
					</tr>
					<tr>
						<td><b>Pembelian</b></td>
						<td th:inline="text">[[${pembelian}]]</td>
					</tr>
					<tr>
						<td><b>Pengeluaran usaha</b></td>
						<td th:inline="text">[[${pengeluaranUsaha}]]</td>
					</tr>
					<tr>
						<td><b>Pendapatan bersih usaha</b></td>
						<td th:inline="text">[[${pendapatanBersih}]]</td>
					</tr>
					<tr>
						<td><b>Pendapatan lainnya</b></td>
						<td th:inline="text">[[${pendapatanLainnya}]]</td>
					</tr>
					<tr>
						<td><b>Pengeluaran non usaha</b></td>
						<td th:inline="text">[[${pengeluaranNonUsaha}]]</td>
					</tr>
					<tr>
						<td><b>Sisa Penghasilan</b></td>
						<td th:inline="text">[[${sisaPenghasilan}]]</td>
					</tr>
					<tr>
						<td><b>Maksimum angsuran <br />per 2 minggu berdasarkan
								40% IIR
						</b></td>
						<td th:inline="text">[[${maxAngsuran}]] |
							[[${maxAngsuranPersen}]] %</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-100">
				<p>
					<b>Saya telah mereview pengajuan pembiayaan ini</b>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-100">
				<div class="header2">
					<h3>Persetujuan</h3>
				</div>
				<p th:inline="text">Catatan : [[${catatan}]]</p>
				<div class="nav">
					<ul>
						<li th:unless="${isForwarded}"><a href="http://example.com"
							th:href="@{${domain}+'/mailengine/webservice/landingPage?token='+${token}+'&amp;status=1&amp;username='+${approvalUsername}}">Setuju</a></li>
						<li th:if="${isForwarded}"><a href="http://example.org"
							th:href="@{${domain}+'/mailengine/webservice/landingPage?token='+${token}+'&amp;status=3&amp;username='+${approvalUsername}}">Teruskan
								ke pemegang limit level selanjutnya</a></li>
						<li><a href="http://example.com"
							th:href="@{${domain}+'/mailengine/webservice/landingPage?token='+${token}+'&amp;status=2&amp;username='+${approvalUsername}}">Tidak</a></li>
						<li><a href="http://example.org"
							th:href="@{${domain}+'/mailengine/webservice/returnReasonPage?token='+${token}+'&amp;namaNasabah='+${namaNasabah}+'&amp;username='+${approvalUsername}}">Kembalikan</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</body>
</html>