<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <style>
    	body {
    		font-family:'Roboto', sans-serif;
    		font-size:20px;
			margin: 0; 
			padding: 0;
    	}
		
		.headers{
			text-align:center;
			background-color:#78ab46;
			padding:40px 0 30px 0;
			color:white;
		}
		
		.mailbody{
			text-align:left;
			background-color:#eaeaea;
			padding: 40px 30px 40px 30px
			
		}
		
		#innertable {
			margin:auto;
    		border-collapse: collapse;
		}
				
		#innertable th{
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #78ab46;
			color: white;
		}
		
		#innertable td, #innertable th{
			border: 1px solid;
			padding: 8px;
		}
		
		.grid-container{
			display:grid;
			grid-template-columns:300px auto 300px;
			grid-gap:0px;
			padding:0;
		}
		
		.button{
			position: relative;
			left: 40%;
			background-color:#78ab46;
			border:none;
			color:white;
			padding:15px 32px;
			text-align:center;
			text-decoration:none;
			display:inline-block;
			cursor:pointer;
		}
    </style>
</head>
<body>
<div class="grid-container">
<div></div>
<div>
            <div class="headers">
                <p>Logo goes here</p>
            </div>
            <div class="mailbody">
                <p th:inline="text">Dear [[${name}]],</p>
                <p th:text="${mailbody}">body</p>
				
				<table id="innertable">
				<tr>
				<th>Order</th><th>Price</th></tr>
				<!-- 
				<tr th:each="order : ${orders}">
				<td th:text="${order.orderName}">Default</td>
				<td th:text="${order.price}">Default</td>
				</tr>
				 -->
				</table>
				<br />
				<form th:action="@{'http://10.7.17.141:9280/mailengine/webservice/landingPage?token='+${token}+'&amp;status='+${status}+'&amp;checked='+${checked}}" method="GET">
				
				<div class="hidden">Your token : <input type="text" name="token" th:value="${token}" readonly = "readonly" /></div><br />
				<input type="radio" name="status" th:value="${accept}" checked = "checked" /> Accept 
				<input type="radio" name="status" th:value="${reject}" /> Reject 
				<input type="radio" name="status" th:value="${return}" /> Return <br />
				<input type="checkbox" name="checked" th:checked="${checked}" />Verify ? <br />
				<input type="submit" value="Submit" />
				</form>
				<!--  
				<div th:if="${isForwarded} == true">
					<a th:href="@{http://localhost:8081/mailengine/webservice/fwdLink}" class="button">Forward</a>
				</div>
				<div th:unless="${isForwarded} == true">
					<a th:href="@{http://localhost:8081/mailengine/webservice/verLink}"  class="button">Verify</a>
				</div>
				-->
				<br />
				<br />
            </div>

</div>
<div></div>

</div>

</body>
</html>